@media (max-width: 500px) {
    .texts {
        font-size: 12px !important;
        font-weight: 400 !important;
        padding-left: 38px !important;
        padding-right: 38px !important;
    }
    .title{
        font-size: 24px !important
    }
}

@media (min-width: 1440px) {
    .texts{
        padding-left: 254px;
        padding-right: 254px;
    }
}
@media (min-width: 768px) {
    .texts{
        padding-left: 80px;
        padding-right: 80px;
    }
}