@import "bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}